<div class="masthead fixed-top">
    <div class="container-fluid central">
        <div class="row">
            
            <div class="col">
                <a class="main-logo" href="{{ siteUrl }}"><img class="img-fluid" src="{{ siteUrl }}theme/spinlogo.svg" alt="Spin"></a>
            </div>

            <div class="col-4 pl-1 text-right font-medium">
                <a href="/library" class="library_returns"></a>
            </div>
      
                            
        </div>
    </div>
</div>