<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <title>Spin</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://spin.co.uk/css/theme.css">
    
    <style>
        .carousel-control-next {
            width: 100%;
        }
    </style>
</head>

<body class="homepage">
    <a name="top" id="top"></a>
    <a class="main-logo " href="https://spin.co.uk/">
        <img id="thelogo" class="logo img-fluid" src="https://spin.co.uk/theme/spinlogo.svg" alt="Spin">
    </a>

    <div class="masthead fixed-top">
        <div class="container-fluid px-2 central">
            <div class="row">
                <div class="col">

                </div>
                <div class="col pl-0 pr-3 text-right ">
                    
                </div>
                <div class="col pl-1 text-right font-medium md-hidden">
                    <h1 class="mb-0" id='date-part'></h1>
                    <h1 class="mb-0" id='time-part'></h1>
                </div>
            </div>
        </div>

        <div class="bar"></div>
    </div>


    <div id="carouselFullScreen" class="carousel" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active full-screen full-image" style="background-image:url('https://spin.co.uk/theme/SPIN_SAIT_2.jpg');"></div>
        </div>

        <a class="carousel-control-next" href="#carouselFullScreen" role="button" data-slide="next">
            
            <span class="sr-only">Next</span>
        </a>
    </div>
    
    <footer class="footer text-left mt-3">
        <div class="container-fluid central px-1 px-sm-2">
            <div class="row mb-4 pt-2 border-top no-gutters">
                <div class="col-sm-6">
                    <h2 class="text-uppercase font-medium">Spin</h2>
                </div>
                <div class="col-sm-6">
                    <div class="row no-gutters">
                        <div class="col-md-6 pl-sm-1">
                            <h2 class="text-uppercase font-medium">
                                Studio<br /> 36 Elsynge road<br /> london <br /> sw18 2hn
                            </h2>
                            <h2 class="text-uppercase font-medium">
                                <a href="mailto:studio@spin.co.uk">studio@spin.co.uk</a><br /> +44 (0)20 7793 9555
                            </h2>
                        </div>
                        <div class="col-md-6 pl-sm-1">
                            <ul class="nav flex-column font-medium">
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" href="https://www.instagram.com/spin_studio/" target="_blank">Instagram</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-uppercase" href="https://twitter.com/spin_studio" target="_blank">Twitter</a>
                                </li>                        
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://spin.co.uk/js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="https://spin.co.uk/js/theme.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. 
        <script>
        
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-23823415-1');ga('send','pageview');
            
        </script>
    -->
</body>

</html>